<!DOCTYPE html>
<html>
<head>
  <title>Add a comment</title>
  <link href="/static/css/blog.css" rel="stylesheet">
</head>
<body>
  <div id="content">
    {{ if index . "success" }}
      {{ $post := index . "post" }}
      <h2>Your comment has been added.</h2>
      <p><a href="{{ $post.AbsoluteUrl }}">Back to the post</a></p>
    {{ else }}
      <h2>Add a new comment</h2>
      <form action="" method="post">
        <p>
          <label for="id_name">Name:</label>
          <input type="text" name="name" maxlength="80" required="" id="id_name">
        </p>
        <p>
          <label for="id_body">Body:</label>
          <textarea name="body" cols="40" rows="10" required="" id="id_body"></textarea>
        </p>
        <p><input type="submit" value="Add comment"></p>
      </form>
    {{ end }}
  </div>
  <div id="sidebar">
    {{ $feeds := index . "feeds" }}
    <h2>My blog</h2>
    <p>
      This is my blog.
      This blog contains {{ $feeds.TotalPosts }} posts.
    </p>
    <h3>Latest posts</h3>
    <ul>
      {{ range $feeds.LatestPosts }}
        <li>
          <a href="{{ .AbsoluteUrl }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
</div>
</body>
</html>