<!DOCTYPE html>
<html>
<head>
  <title>My Blog</title>
  <link href="/static/css/blog.css" rel="stylesheet">
</head>
<body>
  <div id="content">
    <h1>My Blog</h1>
    {{ $tagName := len .TagName }}
    {{ if gt $tagName 0 }}
      <h2>Posts tagged with "{{ .TagName }}"</h2>
    {{ end }}
    {{ range .Posts -}}
      <h2><a href="{{ .AbsoluteUrl }}">{{ .Title }}</a></h2>
      <p class="tags">
        {{ $len := len .Tags }}
        Tags:
        {{ range .Tags }}
          <a href="{{ .TagUrl }}">
            {{ .Name }}, 
          </a>
        {{ end }}
      </p>
      <p class="date">
        Published {{ .Published }} by admin
      </p>
      {{ .Body }}
    {{ end -}}
    <div class="pagination">
      <span class="step-links">
        {{ if .Pager.HasPrev }}
          <a href="?page={{ .Pager.Prev }}">Previous</a>
        {{ end }}
        <span class="current">
          Page {{ .Pager.Page }} of {{ .Pager.TotalPages }}.
        </span>
        {{ if .Pager.HasNext }}
          <a href="?page={{ .Pager.Next }}">Next</a>
        {{ end }}
      </span>
    </div>
  </div>
  <div id="sidebar">
    <h2>My blog</h2>
    <p>
      This is my blog.
      This blog contains {{ .Feeds.TotalPosts }} posts.
    </p>
    <h3>Latest posts</h3>
    <ul>
      {{ range .Feeds.LatestPosts }}
        <li>
          <a href="{{ .AbsoluteUrl }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
</body>
</html>